@tailwind base;
@tailwind components;
@tailwind utilities;

/* Hace que el desplazamiento sea suave y gradual.Al saltar de una sección a otra */
html {
  scroll-behavior: smooth;
}
#home {
  border-bottom-right-radius: 100px;
  border-bottom-left-radius: 50px;
  border-top-right-radius: 50px;
  border-top-left-radius: 50px;
}

@media (min-width: 768px) {
  #home {
    border-bottom-right-radius: 250px;
  }
}
